{% load static %}
<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <h5 class="text-uppercase">About Us</h5>
                <p>
                    We are committed to providing the best service and value to our customers.
                </p>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">Services</a></li>
                    <li><a href="#" class="text-white">About</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase">Contact</h5>
                <p>
                    Email: abhishekmore504@gmail.com<br>
                    Phone: +91 8097892329
                </p>
            </div>
        </div>
    </div>
  
    <div class="text-center p-3">
        © 2024 Copyright:
        <a class="text-white" href="#">TimeZONE.com</a>
    </div>
  </footer>