{% extends "core/index.html" %}

{% block content %}
<div class="title-heading">
    CRUD Oprations
</div>
<div class="container-fluied">
    <div class="row">
        <div class="col-md-4 right-box">
           <div class="col-title">
               Add New Data 
           </div>
            <div class="form-control">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{mf.as_p}}
                        <input type="submit" class="btn btn-info submit-btn">
                    </form>
            </div>
           
        </div>
        <div class="col-md-8 left-box">
            <div class="show-database">
                <h1 class="Datashow-title">ALL these Data Display</h1>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for m in Marvel %}
                        <th scope="row">{{m.id}}</th>
                        <td>{{m.name}}</td>
                        <td>{{m.mail}}</td>
                        <td>
                            <a href="{% url "update" m.id %}"><button class="btn btn-warning">Edit</button></a>
                            <form action="{% url "delete" m.id %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}