.title-heading{
    background-color: blanchedalmond;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    border: 2px dotted rgb(0, 0, 0);
    height: 100px;
    padding-top: 10px;
}

.col-title{
    font-size: 30px;
    text-align: center;
}

.form-control{
    margin-top: 70px;
    margin-left: 20px;
    padding: 20px;
    font-size: 10px;
    border-radius: 30px;
}

label{
    font-size: 20px;
    font-weight: bold;
    padding-right: 320px;
}

#id_name{
    width: 400px;
}
#id_mail{
    width: 400px;
}

.Datashow-title{
    background-color: aqua;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    margin-top: 30px;
    width: 600px;
    margin-left: 240px;
    margin-bottom: 50px;
}

.show-database{
    padding: 40px;
}